# test module
# test
# Run "make test-unit" for the % of code exercised during tests
coverage==7.6.1

# Run "make test-style" to check python syntax and style
flake8==7.1.1

# mock out python-requests, mostly k8s
requests-mock==1.12.1
