# test module
# test
# Run "make test-unit" for the % of code exercised during tests
coverage==6.4.4

# Run "make test-style" to check python syntax and style
flake8==5.0.4

# code coverage report at https://codecov.io/github/drycc/controller
codecov==2.1.12

# mock out python-requests, mostly k8s
requests-mock==1.9.3

# tail a log and pipe into tbgrep to find all tracebacks
tbgrep==0.3.0
