# test module
# test
# Run "make test-unit" for the % of code exercised during tests
coverage==7.8.0

# Run "make test-style" to check python syntax and style
flake8==7.2.0

# mock out python-requests, mostly k8s
requests-mock==1.12.1
