# Drycc controller requirements
inotify==0.2.10
backoff==2.2.1
django==4.2.18
channels==4.1.0
aiohttp==3.11.0
django-cors-headers==4.6.0
django-guardian==2.4.0
djangorestframework==3.15.2
docker==7.1.0
gunicorn==23.0.0
uvicorn[standard]==0.32.0
asgiref==3.8.1
idna==3.10
jsonschema==4.23.0
morph==0.1.5
packaging==24.2
pyasn1==0.6.1
psycopg[binary]==3.2.3
pyOpenSSL==24.2.1
ndg-httpsclient==0.5.1
pytz==2024.2
requests==2.32.3
requests-toolbelt==1.0.0
celery==5.4.0
hiredis==3.0.0
django_redis==5.4.0
dj-database-url==2.3.0
social-auth-app-django==5.4.2
kubernetes==31.0.0
