# Drycc controller requirements
inotify==0.2.10
backoff==2.2.1
django==4.2.22
channels==4.2.2
aiohttp==3.11.16
django-cors-headers==4.7.0
django-guardian==2.4.0
djangorestframework==3.16.0
docker==7.1.0
gunicorn==23.0.0
uvicorn[standard]==0.34.0
asgiref==3.8.1
idna==3.10
jsonschema==4.23.0
morph==0.1.5
packaging==24.2
pyasn1==0.6.1
psycopg[binary]==3.2.6
pyOpenSSL==25.0.0
ndg-httpsclient==0.5.1
pytz==2025.2
requests==2.32.3
requests-toolbelt==1.0.0
celery[redis]==5.5.0
hiredis==3.2.1
dj-database-url==2.3.0
social-auth-app-django==5.4.3
kubernetes==32.0.1
