# Drycc controller requirements
inotify==0.2.12
backoff==2.2.1
django==5.2.9
channels==4.3.1
aiohttp==3.13.3
django-cors-headers==4.9.0
django-guardian==3.2.0
djangorestframework==3.16.1
docker==7.1.0
gunicorn==23.0.0
uvicorn[standard]==0.38.0
asgiref==3.10.0
idna==3.11
jsonschema==4.25.1
morph==0.1.5
packaging==25.0
pyasn1==0.6.2
psycopg[binary]==3.2.12
pyOpenSSL==25.3.0
ndg-httpsclient==0.5.1
pytz==2025.2
requests==2.32.5
requests-toolbelt==1.0.0
celery[redis]==5.5.3
hiredis==3.3.0
dj-database-url==3.0.1
social-auth-app-django==5.6.0
kubernetes==34.1.0
